.container {
    display: grid;
    grid-template-rows: 280px 280px 280px 280px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 10px;
}

.bigContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
